extends ../layout

block content
  .container
    h1= title
    tbody
      for books in data
        .notification-box
          ul
            li Title: #{books.title}
            ul
              li Author: #{books.author}
            ul
              li Description: #{books.description}
            ul
              li Rank: #{books.rank}
